<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 text-center item mb-4" *ngFor="let medicamento of medicamentos">
                <span class="tag">Sale</span>
                <a routerLink="/product-details/{{ medicamento.Id }}" routerLinkActive="active"> <img src="assets/images/product_0{{medicamento.Id}}.png" alt="Image"></a>
                <h3 class="text-dark"><a routerLink="/product-details/{{ medicamento.Id }}" routerLinkActive="active">{{ medicamento.Nombre | uppercase }}</a></h3>
                <p class="price"><del>{{ medicamento.Precio + (medicamento.Precio * 10) / 100 | number:'1.0-0' }}.00</del> — {{ medicamento.Precio | currency }}</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <div class="site-block-27">
                    <ul>
                        <li class="active"><span>1</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>