<div class="site-section">
    <div class="container">
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6 mb-5 mb-md-0">
                    <h2 class="h3 mb-3 text-black">Detalles de la compra</h2>
                    <div class="p-3 p-lg-5 border">
                        <div class="form-group">
                            <label for="tarjetaId" class="text-black">Tarjeta de crédito <span class="text-danger">*</span></label>
                            <select formControlName="tarjetaId" id="tarjetaId" name="tarjetaId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tarjetaId.errors }">
                              <option value="">Seleccionar tarjeta</option>
                              <option value="1">Visa</option>
                              <option value="2">MasterCard</option>
                            </select>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="direccion" class="text-black">Dirección de entrega <span class="text-danger">*</span></label>
                                <input type="text" formControlName="direccion" id="direccion" name="direccion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }" placeholder="Dircción de entrega">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="canitidadRecetasBlancas" class="text-black">Cantidad de recetas blancas</label>
                            <select formControlName="canitidadRecetasBlancas" id="canitidadRecetasBlancas" name="canitidadRecetasBlancas" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.canitidadRecetasBlancas.errors }">
                              <option selected value="0">0</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="3">4</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="cantidadRecetasControladas" class="text-black">Cantidad de recetas controladas</label>
                            <select formControlName="cantidadRecetasControladas" id="cantidadRecetasControladas" name="cantidadRecetasControladas" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cantidadRecetasControladas.errors }">
                              <option selected value="0">0</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="3">4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">Cupón</h2>
                            <div class="p-3 p-lg-5 border">

                                <label for="c_code" class="text-black mb-3">Ingrese su código de cupón si tiene uno</label>
                                <div class="input-group w-75">
                                    <input type="text" class="form-control" id="c_code" placeholder="Código de Cupón" aria-label="Código de Cupón" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button (click)="cuponNotFound()" class="btn btn-primary btn-sm px-4" type="button" id="button-addon2">Aplicar Cupón</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">Su compra</h2>
                            <div class="p-3 p-lg-5 border">
                                <table class="table site-block-order-table mb-5">
                                    <thead>
                                        <tr>
                                            <th>TOTAL: {{ cartBagService.getTotal() | currency }}</th>
                                            Los descuentos por recetas se aplicarán directamente en su tarjeta
                                        </tr>
                                    </thead>
                                </table>

                                <div class="border mb-3">
                                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Detalles del envío</a></h3>

                                    <div class="collapse" id="collapsebank">
                                        <div class="py-2 px-4">
                                            <p class="mb-0">Su compra será enviada en las próximas 3h.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button [disabled]="loading" class="btn btn-primary btn-lg btn-block">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                        Envíar compra
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>