<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="block-7">
                    <h3 class="footer-heading mb-4">Sobre Nosotros</h3>
                    <p>Empresa dedicada a la venta y destribución de medicinas por Internet</p>
                </div>
            </div>
            <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                <h3 class="footer-heading mb-4">Accesos Rápidos</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Supplements</a></li>
                    <li><a href="#">Vitamins</a></li>
                    <li><a href="#">Diet &amp; Nutrition</a></li>
                    <li><a href="#">Tea &amp; Coffee</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Información de Contacto</h3>
                    <ul class="list-unstyled">
                        <li class="address">21 de Septiembre 2741 Montevideo, Uruguay</li>
                        <li class="phone"><a href="tel://59827116220">+598 2711 6220</a></li>
                        <li class="email">hola@mdgnn.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>