<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mr-auto">
                <div class="border text-center">
                    <img style="max-width: 300px; max-height: 320px;" *ngIf="element" src="assets/images/product_{{element?.Id}}.jpg" alt="Image" class="img-fluid p-5">
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-black">{{ element?.Nombre | uppercase }} | {{ element?.Marca | uppercase }}</h2>
                <p>{{ element?.Descripcion }}</p>
                <p><del>{{ element?.Precio + (element?.Precio * 10) / 100 | number:'1.0-0' }}.00</del> - <strong class="text-primary h4">{{ element?.Precio | currency }}</strong></p>

                <p><a (click)="cartBagService.addElement(element)" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Agregar al Carrito</a></p>

                <div *ngIf="element?.Composicion" class="mt-5">
                    <ul class="nav nav-pills mb-3 custom-pill" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Información Adicional</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <table class="table custom-table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Composición</th>
                                        <td>{{ element.Composicion }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Indicaciones</th>
                                        <td>{{ element.Indicaciones }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Presentación</th>
                                        <td>{{ element.Presentacion }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>