<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2 class="text-uppercase">Articulos Populares</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 text-center item mb-4" *ngFor="let noMedicamento of noMedicamentos;">
                <a href="shop-single.html"> <img src="assets/images/product_0{{noMedicamento.Id}}.png" alt="Image"></a>
                <h3 class="text-dark"><a href="shop-single.html">{{ noMedicamento.Nombre | uppercase }}</a></h3>
                <p class="price">{{ noMedicamento.Precio | currency }}</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <a href="shop.html" class="btn btn-primary px-4 py-3">Ver todos los Artículos</a>
            </div>
        </div>
    </div>
</div>